.header{
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.card{
  width: 400px;
  height: 300px;
}
.shead{
  font-size:23px ;
}
#current{
  display: none;
}
#balanceDisp {
  display: none;
}
.negative {
  color: red;
}
#warn{
  background-color: red;
  width: 250px;
  display: none;
  font-weight: bold;
}